## Copy this file to local.properties and set your SDK path
## Windows example:
# sdk.dir=C\:\\Users\\YOUR_USER\\AppData\\Local\\Android\\Sdk
## macOS/Linux example:
# sdk.dir=/Users/YOUR_USER/Library/Android/sdk
sdk.dir=/path/to/Android/sdk
